.navbar {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;

  background-color: var(--color-primary);
  min-height: 4rem;
  padding: 1rem 4rem;
  margin-bottom: 15px;
  color: white;
}

.navbarTitle {
  font-size: 1.5rem;
}

.navbarLinks {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  margin-left: 1rem;
  border: 2px solid #ccc;
  transition: border-color 0.2s ease;
}
.avatar:hover {
  border-color: #333;
}

.link {
  color: white;
  text-decoration: none;
}

.link:visited,
.link:link,
.link:active {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
  transform: translateY(-5px);
  transition: 0.3s ease-in-out;
}

.link:not(:hover) {
  text-decoration: none;
  transition: 0.5s ease-in-out;
}
