.navbar {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;

  background-color: var(--color-primary);
  min-height: 4rem;
  padding: 1rem;
  margin-bottom: 15px;
}

.navbar-title {
  font-size: 1.5rem;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  margin-left: 1rem;
  border: 2px solid #ccc;
  transition: border-color 0.2s ease;
}
.avatar:hover {
  border-color: #333;
}

a:visited,
a:link,
a:active {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}
