.checkbox {
  outline: none;
  background-color: var(--color-background);
  color: red;
}

.checklistLegend {
  color: var(--color-text);
}

.checklistLabel {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.checklistFieldset {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 15px;
}

.checkbox:not(:checked) {
  background-color: var(--color-background);
}

.description {
  background-color: var(--color-background);
  color: var(--color-text);
  font-weight: 500;
  border-radius: 15px;
  padding: 15px;
}
